{% extends "base.html" %}

{% block content %}
<section>
    <div>
        <p><a href="/members" class="back-arrow"><i class="fa-solid fa-arrow-left"></i> Back</a></p>
    </div>
    <div class="container">
        <div class="edit-member-lesson">
            <h3>Edit {{member.name}}</h3>
            <form action="/members/{{member.id}}" method="post" class="form">
                <label for="name">
                    <span>Name:</span>
                    <input type="text" name="name" id="name" value="{{member.name}}">
                </label>
            
                <input type="submit" onclick="return confirm('Are you sure?')" class="button" value="Update">
            </form>
        </div>
    </div>
</section>
{% endblock %}