{% extends "base.html" %}

{% block content %}
<section>
    <div>
        <p><a href="/members" class="back-arrow"><i class="fa-solid fa-arrow-left"></i> Back</a></p>
    </div>
    <div class="container">
        <div class="one-lesson-block">
            <h3 class="attendance-title">{{ member.name }}</h3>
            <a href="/members/{{ member.id }}/edit" class="button">Edit Member</a>
            <form action="/members/{{ member.id }}/delete" method="POST">
                <input class="button" type="submit" value="Remove Member" />
            </form>
            <br>
            <p class="attendance-title">Bookings:</p>
            {% for lesson in lessons %}
            <p>{{ lesson.title }}</p>
            <p>{{ lesson.date }} at {{ lesson.time }}</p>
            <form action="/bookings/{{ booking.id }}/delete" method="POST">
                <input class="button" type="submit" value="Remove Booking" />
            <hr>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}