<div class="dashboard">
    <h2>Book a Class</h2>
    <form action="/" method="POST" class="form">
        <label for="member">
            <span>Member:</span>
            <select name="member" id="member">
                <option value="">--Select Member--</option>
                {% for member in member_list %}
                <option value="{{member.name}}">{{member.name}}</option>
                {% endfor %}
            </select>
        </label>
        <label for="lesson">
            <span>Class:</span>
            <select name="lesson-name" id = "lesson">
                <option value="">--Select Class--</option>
                {% for lesson in lesson_list %}
                <option value="{{lesson.title}}">{{lesson.title}}, {{lesson.date}}, {{lesson.time}}</option>
                {% endfor %}
            </select>
        </label>
    </form>
</div>