{% extends 'base.html' %}

{% block content %}
<section>
    <div>
        <p><a href="/" class="back-arrow"><i class="fa-solid fa-arrow-left"></i> Back</a></p>
    </div>
    <h2 class="lesson-heading">Bookings</h2>
    <div class="new-booking-button">
    <a href="/bookings/newbooking" class="button">Make a new booking</a>
    </div>
</section>
<section class="lesson-list">
    <div class="bookings-table">
        <table>
            <tr>
                <th class="table-column-name">Class</th>
                <th class="table-column-name">Date</th>
                <th class="table-column-name">Time</th>
                <th class="table-column-name">Member</th>
                <th></th>
            </tr>
            {% for booking in booking_list %}
            <tr class="row-divider">
                <td>{{booking.lesson.title}}</td>
                <td>{{booking.lesson.date}}</td>
                <td>{{booking.lesson.time}}</td>
                <td>{{booking.member.name}}</td>
                <td><form action="/bookings/{{ booking.id }}/delete" method="POST">
                    <input class="button" type="submit" value="Remove Booking" />
                </form></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>
{% endblock %}