{% extends 'base.html' %}

{% block content %}
<section>
    <div>
        <p><a href="/" class="back-arrow"><i class="fa-solid fa-arrow-left"></i> Back</a></p>
    </div>
    <h2 class="lesson-heading">All Lessons</h2>
</section>
<section class="lesson-list">
    {% for lesson in lessons %}
        <div class="lesson-blocks">
            <h3>{{ lesson.title }}</h3>
            <p>{{ lesson.date.strftime("%A %d %B") }}</p>
            <p>{{ lesson.time.strftime("%H %M") }}</p>
            <p>Capacity: {{lesson.capacity}}</p>
            <p>{{ lesson.instructor.name }}</p>
            <a href="/classes/{{ lesson.id }}" class="button">See More</a>
        </div>
    {% endfor %}
</section>

{% endblock %}