{% extends 'base.html' %}

{% block content %}
<section>
    <div>
        <p><a href="/" class="back-arrow"><i class="fa-solid fa-arrow-left"></i> Back</a></p>
    </div>
    <h2 class="lesson-heading">Coming Up</h2>
</section>
<section class="lesson-list">
    {% for lesson in lessons %}
        <div class="lesson-blocks">
            <h3>{{ lesson.title }}</h3>
            <p>{{ lesson.date }}</p>
            <p>{{ lesson.time }}</p>
            <p>Capacity: {{lesson.capacity}}</p>
            <p><i class="fa-solid fa-circle-info"></i> <a href="/classes/{{ lesson.id }}">See more</a></p>
        </div>
    {% endfor %}
</section>

{% endblock %}