{% extends "base.html" %}

{% block content %}
<section>
    <div>
        <p><a href="/classes" class="back-arrow"><i class="fa-solid fa-arrow-left"></i> Back</a></p>
    </div>
    <div class="container">
        <div class="one-lesson-block">
        <h3 class="attendance-title">{{ lesson.title }}</h3>
        <p>{{ lesson.date.strftime("%A %d %B") }} at {{ lesson.time }}</p>
        <p>{{ lesson.duration }} in the {{ lesson.location }}</p>
        <p>Instructor: {{ lesson.instructor.name }}</p>
        <p class="description">{{ lesson.description }}</p>
        <a href="/classes/{{ lesson.id }}/edit" class="button">Edit Class</a> 
        <form action="/classes/{{ lesson.id }}/delete" method="POST">
            <input class="button" type="submit" value="Delete Class" />
        </form>
        <hr>
        <p>Total Capacity: {{ lesson.capacity }}</p>
        <hr>
        <p class="attendance-title">Attendance list:</p>
        {% for member in members %}
            <p>{{ member.name }}</p>
        {% endfor %}
        </div>
    </div>
</section>
{% endblock %}