{% extends "base.html" %}

{% block content %}
<section>
    <div>
        <p><a href="/classes" class="back-arrow"><i class="fa-solid fa-arrow-left"></i> Back</a></p>
    </div>
    <div class="container">
        <div class="one-lesson-block">
        <h3 class="attendance-title">{{ lesson.title }}</h3>
        <p>{{ lesson.date }} at {{ lesson.time }}</p>
        <p>{{ lesson.duration }} in the {{ lesson.location }}</p>
        <p>Instructor: {{ lesson.instructor }}</p>
        <p class="description">{{ lesson.description }}</p>
        <hr>
        <p>Total Capacity: {{ lesson.capacity }}</p>
        <hr>
        <p class="attendance-title">Attendance list:</p>
        {% for member in members %}
            <p><a href="/members/{{ member.id }}">{{ member.name }}</a></p>
        {% endfor %}
        </div>
    </div>
</section>


{% endblock %}