body {
    font-family: 'Expletus Sans', cursive;
    background: #256F87;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    gap: 1rem;
}

.logo {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
}

header > nav {
    display: flex;
    align-items: center;
}

.vertical-line {
    color: #fff;
}

main {
    padding-left: 3rem;
    padding-right: 3rem;
}

.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.add-members-classes {
    display: flex;
    justify-content: center;
    margin-left: 25px;
    margin-right: 25px;
    align-items: flex-start;
}

.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: #E3FAFF;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px; 
    width: auto;
}

.dashboard h2 {
    text-align: center;
}

.dashboard p {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
}

.member-flex-container {
    display: flex;
    flex-direction: column;
}

.lesson-heading {
    color: #fff;
    text-align: center;
}

.lesson-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.lesson-blocks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px 20px;
    border-radius: 10px;
    margin: 20px 10px;
    background-color: #E3FAFF;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px; 
    width: 20vw
}

.lesson-blocks h3 {
    text-align: center;
}

.lesson-blocks p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.back-arrow {
    color: white;
    text-decoration: none;
}

.one-lesson-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #E3FAFF;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px; 
    width: 40vw;
}

.one-lesson-block hr {
    width: 90%;
    color: rgb(150, 132, 27)
}

.one-lesson-block p {
    margin-top: 4px;
    margin-bottom: 6px;
}

.description {
    font-style: italic;
}

.attendance-title {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edit-member-lesson {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #E3FAFF;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px; 
}

.image-name {
    display: flex;
}

img {
    max-width: 100px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

/* @media (max-width: 768px) {
    .lesson-blocks {
        display: block;
        text-align: center;
    }
} */