{% extends "base.html" %}

{% block content %}

<section>
    <div class="container">
        <div class="dashboard">
            <h2>Admin Dashboard</h2>
            <p><a href="/members">Current Members</a>: {{ members_total }}</p>
            <p><a href="/instructors">Current Instructors</a>: {{instructor_total }}</p>
            <p><a href="/classes">Upcoming Classes</a>: {{ lessons_total }}</p>
            <p><a href="/bookings">Total Bookings</a>: {{ bookings_total }}</p>
        </div>
    </div>
    <div class="add-members-classes">
        <div class="dashboard">
            <h2>Add a Class</h2>
            <form action="/classes" method="POST" class="form">
                <label for="title">
                <span>Title:</span>
                <input type="text" name="title" id="title" required>
                </label>

                <label for="date">
                <span>Date:</span>
                <input type="date" name="date" id="date">
                </label>

                <label for="time">
                <span>Time:</span>
                <input type="text" name="time" id="time">
                </label>

                <label for="duration">
                <span>Duration:</span>
                <input type="text" name="duration" id="duration">
                </label>

                <label for="instructor">
                    <span>Instructor:</span>
                    <select name="instructor_id" id="instructor_id">
                        <option value="">--Select Instructor--</option>
                        {% for instructor in instructor_list %}
                        <option value="{{instructor.id}}">{{instructor.name}} - {{instructor.speciality}}</option>
                        {% endfor %}
                    </select>
                </label>

                <label for="location">
                <span>Location:</span>
                <input type="text" name="location" id="location">
                </label>

                <label for="capacity">
                <span>Capacity:</span>
                <input type="number" name="capacity" id="capacity">
                </label>

                <label for="description">
                <span>Description:</span>
                <textarea id = "description" name="description" rows="3" cols = "16"></textarea>
                </label>

                <input type="submit" class="button" value="Add Class">
            </form>
        </div>
        <div class="member-flex-container">
            <div class="dashboard">
                <h2>Add a Member</h2>
                <form action="/members" method="POST" class="form">
                    <label for="name">
                    <span>Name:</span>
                    <input type="text" name="name" id="name">
                    </label>
                    <input type="submit" class="button" value="Add Member">
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock %}